.TreeItem {
    padding-left: 20px;
}

.TreeItemTitle {
    background-color: palevioletred;
}
.TreeItemList {
    background-color: slateblue;
}
.TreeValueList {
    padding-left: 20px;
    background-color: cadetblue;
}